In [1]:
import numpy as np
import pandas as pd

In [4]:
score = [90, 99, 85]
dict1 = {'Treetop':90, 'John':99, 'Smite':85}
dict1

{'Treetop': 90, 'John': 99, 'Smite': 85}

In [5]:
pd.Series(dict1)

Treetop    90
John       99
Smite      85
dtype: int64

In [7]:
Score = [90, 99, 85]
Name = ['Treepop', 'John', 'Smith']

series = pd.Series(data=Score, index=Name)
print(series)

Treepop    90
John       99
Smith      85
dtype: int64

In [8]:
Score2 = np.array(Score)
Name2 = np.array(Name)

print(Score2)
print(type(Score2))

[90 99 85]
<class 'numpy.ndarray'>

In [9]:
series2 = pd.Series(Score2, Name2)
print(series2)

Treepop    90
John       99
Smith      85
dtype: int32

In [10]:
#Pandas Series สามารถเก็บข้อมูลต่างชนิดกันได้ ขณะที่ Numpy Array ไม่ได้
Score = [90, 99, 'Not']
Name = ['Treepop', 'John', 'Smith']

series = pd.Series(Score, Name)
print(series)

Treepop     90
John        99
Smith      Not
dtype: object

In [11]:
#Pandas Series สามารถเก็บข้อมูลโดยตรงได้เลย
series1 = pd.Series(data=['A', 'B', 'C'], index=[1, 2, 3])
print(series1)

1    A
2    B
3    C
dtype: object

In [12]:
#ถ้าไม่ระบุ index Series จะรัน index จาก 0 ให้โดยอัติโนมัติ (auto increment)
series1 = pd.Series(data=['A', 'B', 'C'])
print(series1)

0    A
1    B
2    C
dtype: object

In [13]:
#เข้าถึงสมาชิกสามารถเข้าถึงสมาชิกภายใน Series โดยการเลือกชื่อ index เหมือนเลือก key ของ dict หรือเลือกตำแหน่งของ value ก็ได้เช่นกัน
series1 = pd.Series(data=['Treetop', 'John', 'Kim'], index=['A', 'B', 'C'])
print(series1['A'])
print(series1['B'])
print(series1[0])
print(series1[1])

Aaa
Bbb
Aaa
Bbb

In [15]:
#เข้าถึงสมาชิก 2 สามารถเข้าถึงสมาชิกภายใน Series แบบ Slicing ได้
series1 = pd.Series(data=['Treetop', 'John', 'Kim'], index=['A', 'B', 'C'])
print(series1[1:3])

B    John
C     Kim
dtype: object

In [19]:
#เข้าถึงสมาชิก 3 สามารถเข้าถึงสมาชิกแบบเป็นกลุ่มได้ โดยการส่งindex ที่ต้องการในรูปแบบลิส ให้เป็น argument
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)
print(series)

series[[0,2,4]]

series[['John', 'Smith']]

Treepop    90
John       99
Smith      85
Jim        77
Kim        55
Alex       69
dtype: int64

John     99
Smith    85
dtype: int64

In [22]:
#เข้าถึงสมาชิก 4 สามารถเข้าถึงสมาชิกแบบเป็นกลุ่มได้ โดยการส่งindex ที่ต้องการในรูปแบบลิส แบบ Boolean ให้เป็น argument
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)

series[[True, False, False, True, True, True]]

Treepop    90
Jim        77
Kim        55
Alex       69
dtype: int64

In [3]:
#เข้าถึงสมาชิก 5 สามารถเข้าถึงสมาชิกแบบเป็นกลุ่มได้ โดยการส่งindex ที่ต้องการในรูปแบบลิส แบบ Boolean ให้เป็น argument โดยที่ Boolean ได้มาจาก Conditional Selection (การเลือกแบบมีเงื่อนไข)
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)
print(series)

Treepop    90
John       99
Smith      85
Jim        77
Kim        55
Alex       69
dtype: int64

In [5]:
Even_number = np.arange(6)
print(Even_number)
print(Even_number%2==0)
series[Even_number%2==0]

[0 1 2 3 4 5]
[ True False  True False  True False]

Treepop    90
Smith      85
Kim        55
dtype: int64

In [6]:
#การวิเคราะห์ข้อมูลสามารถใช้คำสั่งเดียวกับ numpy วิเคราะห์ข้อมูลภายในได้ เพราะ Pandas สร้างบนพื้นฐาน numpy เช่น คำสั่ง sum mean max std
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)
print(series.mean())
print(series.max())
print(series.argmax())
print(series.sum())
print(series.std())

79.16666666666667
99
1
475
15.727894540168647

In [7]:
#การแก้ไขสมาชิกสามารถแก้ไขสมาชิกภายใน Series ได้ โดยการประกาศค่าใหม่เหมือน List
series1 = pd.Series(data=['A', 'B', 'C'], index=[1,2,3])
print(series1)

1    A
2    B
3    C
dtype: object

In [8]:
series1[1] = 'X'
print(series1)

1    X
2    B
3    C
dtype: object

In [10]:
#การเพิ่มสมาชิกสามารถเพิ่มสมาชิกภายใน Series ได้ เหมือนกับการแก้ไข ถ้า index ไม่ซ้ำจะเป็นการเพิ่มสมาชิกแทน
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)
print(series)

Treepop    90
John       99
Smith      85
Jim        77
Kim        55
Alex       69
dtype: int64

In [11]:
series['Chen'] = 33
print(series)

Treepop    90
John       99
Smith      85
Jim        77
Kim        55
Alex       69
Chen       33
dtype: int64

In [12]:
#การลบสมาชิกสามารถลบสมาชิกภายใน Series ได้ โดยใช้คำสั่ง del
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)
print(series)

Treepop    90
John       99
Smith      85
Jim        77
Kim        55
Alex       69
dtype: int64

In [13]:
del series['John']
print(series)

Treepop    90
Smith      85
Jim        77
Kim        55
Alex       69
dtype: int64

In [14]:
#การนำ Series มาบวกกัน Series จะนำเอา Value ที่ Index ตรงกันมารวมกัน เช่น การรวมคะแนนสอบของนักเรียน
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)
print(series)

Treepop    90
John       99
Smith      85
Jim        77
Kim        55
Alex       69
dtype: int64

In [15]:
Score = [10, 33, 44, 77, 22, 11]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series2 = pd.Series(Score, Name)
print(series2)

Treepop    10
John       33
Smith      44
Jim        77
Kim        22
Alex       11
dtype: int64

In [16]:
series + series2

Treepop    100
John       132
Smith      129
Jim        154
Kim         77
Alex        80
dtype: int64

In [5]:
#ถ้าข้อมูลไม่ตรงกันจะขึ้น NaN (NaN = ไม่มีค่า)
Score = [90, 99, 85, 77, 55, 69]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Alex']

series = pd.Series(Score, Name)

Score = [10, 33, 44, 77, 22, 11]
Name = ['Treepop', 'John', 'Smith', 'Jim', 'Kim', 'Viktor']

series2 = pd.Series(Score, Name)

series + series2

Alex         NaN
Jim        154.0
John       132.0
Kim         77.0
Smith      129.0
Treepop    100.0
Viktor       NaN
dtype: float64

In [7]:
#การสร้าง DataFrame
#ต้องระบุ values เป็นแบบ matrix
#ระบุชื่อ row ให้พอดีกับจำนวน row
#ระบุชื่อ column ให้พอดีกับจำนวน column
#ใช้คำสั่ง pd.DataFrame(Values, rows, columns)

import numpy as np
import pandas as pd

values = np.random.randint(0,20,(3,3))
rows = ['A', 'B', 'C']
cols = ['X', 'Y', 'Z']
print(values)

[[ 9 17 11]
 [18 12 19]
 [15 13  8]]

In [8]:
#หน้าตาของ df (DataFrame)จะเป็นแบบนี้ 
df = pd.DataFrame(values, rows, cols)
df

    X   Y   Z
A   9  17  11
B  18  12  19
C  15  13   8

In [22]:
#เช็ค shape ของ DataFrame
df.shape

(3, 3)

In [23]:
#การเข้าถึงสมาชิกสามารถเข้าถึงสมาชิกภายในDataFrame ได้โดยการเลือกชื่อ column
df['X']

A     7
B    17
C    12
Name: X, dtype: int32

In [24]:
#ไม่แนะนำวิธีนี้
df.X

A     7
B    17
C    12
Name: X, dtype: int32

In [25]:
#การเข้าถึงสมาชิก 2 สามารถเข้าถึงสมาชิกภายในDataFrame ได้โดยการเลือกชื่อหลายๆ columns
df2 = df[['X','Z']]
df2

    X   Z
A   7   2
B  17   7
C  12  13

In [26]:
type(df2)

pandas.core.frame.DataFrame

In [28]:
df3 = df['Y']
print(df3)
print(type(df3))

A    4
B    7
C    3
Name: Y, dtype: int32
<class 'pandas.core.series.Series'>

In [29]:
#การเพิ่ม column สามารถเพิ่ม column โดยต้องใส่ให้ครบสมาชิกตามจำนวน rows
df

    X  Y   Z
A   7  4   2
B  17  7   7
C  12  3  13

In [54]:
df['P'] = [1,2,3]
df

    X  Y   Z  P
A   7  4   2  1
B  17  7   7  2
C  12  3  13  3

In [3]:
#การลบ column, row สามารถลบ column โดยจะต้องระบุแกนที่จะลบ 
#โดย axis = 0 (ค่าเริ่มต้น) คือแกน y หรือ ลบ row axis = 1 คือแกน x หรือ ลบ column
df

NameError: name 'df' is not defined

In [4]:
df.drop('Z', axis=1)

NameError: name 'df' is not defined

In [57]:
df.drop('A')

    X  Y   Z  P
B  17  7   7  2
C  12  3  13  3

In [60]:
#การลบ column, row 2
#เมื่อลบ จะเป็นแค่การแสดงผล ไม่มีผลกับ DataFrame ของจริง
#ถ้าต้องการให้มีผลกับของจริงจะต้องระบุ inplace = True
df2

    X   Z
A   7   2
B  17   7
C  12  13

In [61]:
df2.drop('Z', axis=1, inplace=True)
df

F:\Anaconda\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [62]:
#การเข้าถึงสมาชิก 3
#สามารถเข้าถึงสมาชิกภายในDataFrame ได้โดยการเลือกชื่อ row
df

    X  Y   Z  P
A   7  4   2  1
B  17  7   7  2
C  12  3  13  3

In [63]:
#ใส่ชื่อ row
df.loc['A']

X    7
Y    4
Z    2
P    1
Name: A, dtype: int64

In [65]:
#ใส่ index ของ row
df.iloc[1]

X    17
Y     7
Z     7
P     2
Name: B, dtype: int64

In [9]:
#การเข้าถึงสมาชิก 4 สามารถเข้าถึงสมาชิกภายในDataFrame ได้โดยการเลือกชื่อหลายๆ row
df

    X   Y   Z
A   9  17  11
B  18  12  19
C  15  13   8

In [10]:
df.loc[['A','B']]

    X   Y   Z
A   9  17  11
B  18  12  19

In [11]:
#การเข้าถึงสมาชิก 5 สามารถเข้าถึงสมาชิกภายในDataFrame ได้โดยการเลือกชื่อทั้ง row และ column เพื่อเลือกสมาชิกที่ต้องการ
df

    X   Y   Z
A   9  17  11
B  18  12  19
C  15  13   8

In [12]:
df.loc['B','Z']

19

In [14]:
df.loc[['B','C'],['X','Z']]

    X   Z
B  18  19
C  15   8

In [15]:
df.loc[['B','C'],['Y']]

    Y
B  12
C  13

In [16]:
#การเลือกแบบมีเงื่อนไข
#เหมือนกับการเลือกแบบมีเงื่อนไขของ Series 
#มีประโยชน์อย่างมากในการเลือกเฉพาะข้อมูลที่เราต้องการ คล้ายกับการทำ If-Else
df > 10

       X     Y      Z
A  False  True   True
B   True  True   True
C   True  True  False

In [19]:
#สมาชิกตัวใดที่เป็นเท็จจะถูกแทนด้วย NaN
df[df > 10]

      X   Y     Z
A   NaN  17  11.0
B  18.0  12  19.0
C  15.0  13   NaN

In [20]:
#การเลือกแบบมีเงื่อนไข 2
#ในทางปฎิบัติเราจะเลือกเป็น column และลบ row ของ column ที่ไม่ผ่านเงื่อนไข
df

    X   Y   Z
A   9  17  11
B  18  12  19
C  15  13   8

In [21]:
df['X'] > 60

A    False
B    False
C    False
Name: X, dtype: bool

In [22]:
df[df['X'] > 10]

    X   Y   Z
B  18  12  19
C  15  13   8

In [23]:
#การเลือกแบบมีเงื่อนไข 3
#เราสามารถเลือกเฉพาะ column หลังจากเลือกแบบมีเงื่อนไขแล้ว
df[df['X'] > 10]

    X   Y   Z
B  18  12  19
C  15  13   8

In [24]:
df[df['X'] > 10]['X']

B    18
C    15
Name: X, dtype: int32

In [26]:
df[df['X'] > 10]

    X   Y   Z
B  18  12  19
C  15  13   8

In [29]:
df[df['X'] > 10][['X','Z']]

    X   Z
B  18  19
C  15   8

In [30]:
new_df = df[df['X'] > 10]
new_df

    X   Y   Z
B  18  12  19
C  15  13   8

In [31]:
new_df[['X','Z']]

    X   Z
B  18  19
C  15   8

In [32]:
#การเลือกแบบมีเงื่อนไข 4
#เมื่อเงื่อนไขที่ต้องการมีมากกว่า 1
#เช่นใน DataFrame นี้ เราต้องการ column X เฉพาะที่สมาชิกมีค่าน้อยกว่า 70 กับ column Y ที่สมาชิกมากกว่า 50 
df

    X   Y   Z
A   9  17  11
B  18  12  19
C  15  13   8

In [ ]:
#61