In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Automobile_data.csv')
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [3]:
#การอ่านไฟล์ csv แบบจำกัดแถว rows
df = pd.read_csv('Automobile_data.csv', nrows=8)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920

In [4]:
#การอ่านไฟล์ csv แบบจำกัดแถว rows และเลือกบาง columns
df = pd.read_csv('Automobile_data.csv', nrows=8, usecols=[0,2,3,6,8,9])
df

   symboling         make fuel-type   body-style engine-location  wheel-base
0          3  alfa-romero       gas  convertible           front        88.6
1          3  alfa-romero       gas  convertible           front        88.6
2          1  alfa-romero       gas    hatchback           front        94.5
3          2         audi       gas        sedan           front        99.8
4          2         audi       gas        sedan           front        99.4
5          2         audi       gas        sedan           front        99.8
6          1         audi       gas        sedan           front       105.8
7          1         audi       gas        wagon           front       105.8

In [5]:
#การอ่านไฟล์ xlsx ไฟล์ excel ใช้คำสั่ง pd.read_excel( )
df = pd.read_xlsx('Automobile_datas.xlsx', sheetname='Sheet1')
df

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [6]:
#Pandas สามารถอ่านไฟล์อื่นๆได้ เช่น html, json
#ใช้คำสั่ง pd.read_html( )
#pd.read_json( )
#การอ่านไฟล์อื่นๆ
#กด Tab เพื่อเช็คว่าอ่านไฟล์อะไรได้บ้าง

In [7]:
#การเขียนไฟล์
#กด Tab เพื่อเช็คว่าเขียนไฟล์อะไรได้บ้าง

In [8]:
#การเขียนไฟล์
#ควรกำหนด index = False เพื่อไม่ให้เซฟ index ลงไปด้วย
df.to_csv('new_automobile.csv', index=False)
df2 = pd.read_csv('new_automobile.csv')
df2

   symboling         make fuel-type   body-style engine-location  wheel-base
0          3  alfa-romero       gas  convertible           front        88.6
1          3  alfa-romero       gas  convertible           front        88.6
2          1  alfa-romero       gas    hatchback           front        94.5
3          2         audi       gas        sedan           front        99.8
4          2         audi       gas        sedan           front        99.4
5          2         audi       gas        sedan           front        99.8
6          1         audi       gas        sedan           front       105.8
7          1         audi       gas        wagon           front       105.8

In [9]:
#สำรวจข้อมูลที่หายไป ข้อมูลที่หายไปถูกบันทึกโดย แทน ? ด้วย ค่า NaN 
df = pd.read_csv('Automobile_data.csv', na_values={
    'normalized-losses':["?"],
    'stroke':["?"],
    'horsepower':["?"],
    'peak-rpm':["?"],
    'average-mileage':["?"]
})
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [10]:
#ลบColumnข้อมูลที่หายไป
#Df.dropna(axis=1) 
#ลบrowข้อมูลที่หายไป
#Df.dropna()
df = pd.read_csv('Automobile_data.csv', na_values={
    'normalized-losses':["?"],
    'stroke':["?"],
    'horsepower':["?"],
    'peak-rpm':["?"],
    'average-mileage':["?"]
})
df.dropna(axis=1)
df.dropna()
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [11]:
#เติมข้อมูลที่หายไป
#แทน ค่า NaN ด้วย 0
#df[‘column’].fillna(value=0)
df.fillna(value=0)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,0.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,0.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [12]:
#เติมข้อมูลที่หายไป

#แทน ค่า NaN ด้วย ค่าเฉลี่ยของcolumnนั้น เพื่อไม่ให้ค่าเฉลี่ยเปลี่ยน
#avg = df[‘column’].mean()

#df[‘column’].fillna(value=avg)
avg = df['normalized-losses'].mean()
print(avg)
df['normalized-losses'].fillna(avg, inplace=True)

122.0

In [13]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [14]:
#Df.head( x )

#ใช้เพื่อดูข้อมูล x แถวแรก
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450

In [15]:
df.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500

In [16]:
#Df.tail( x )
#ใช้เพื่อดูข้อมูล x แถวสุดท้าย
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [17]:
df.tail(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [18]:
#Df.sample( x )
#ใช้เพื่อสุ่มดูข้อมูล x แถว
df.sample()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
73,0,122.0,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,40960

In [19]:
df.sample(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
140,2,83.0,subaru,gas,std,two,hatchback,4wd,front,93.3,...,108,2bbl,3.62,2.64,8.7,73.0,4400.0,26,31,7603
133,2,104.0,saab,gas,std,four,sedan,fwd,front,99.1,...,121,mpfi,3.54,3.07,9.3,110.0,5250.0,21,28,12170
79,1,161.0,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102.0,5500.0,24,30,7689
195,-1,74.0,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,13415
65,0,118.0,mazda,gas,std,four,sedan,rwd,front,104.9,...,140,mpfi,3.76,3.16,8.0,120.0,5000.0,19,27,18280

In [20]:
#Df.info( )
#เป็นวิธีการเช็คข้อมูลใน DataFrame นั้นเบื้องต้น
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             201 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    float64
 22  peak-rpm           203 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(9), int64(5), object(12)
memory usage: 41.8+ KB

In [21]:
#Df.describe( )
#สรุปข้อมูลแต่ละคอลัมน์ในทางคณิตศาสตร์
df.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220
std,1.245307,31.681008,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000
25%,0.000000,101.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000
50%,1.000000,122.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000
75%,2.000000,137.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000

In [22]:
#Df.groupby( )
#ใช้เพื่อหาสรุปข้อมูลแต่ละประเภทในทางคณิตศาสตร์
check = df.groupby(['make'])
check.describe()

              symboling                                                 \
                  count      mean       std  min   25%  50%   75%  max
make
alfa-romero         3.0  2.333333  1.154701  1.0  2.00  3.0  3.00  3.0
audi                7.0  1.285714  0.755929  0.0  1.00  1.0  2.00  2.0
bmw                 8.0  0.375000  0.744024  0.0  0.00  0.0  0.25  2.0
chevrolet           3.0  1.000000  1.000000  0.0  0.50  1.0  1.50  2.0
dodge               9.0  1.000000  1.000000 -1.0  1.00  1.0  1.00  3.0
honda              13.0  0.615385  0.767948  0.0  0.00  0.0  1.00  2.0
isuzu               4.0  0.750000  0.957427  0.0  0.00  0.5  1.25  2.0
jaguar              3.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
mazda              17.0  1.117647  1.166316  0.0  0.00  1.0  1.00  3.0
mercedes-benz       8.0  0.000000  1.414214 -1.0 -1.00 -0.5  0.25  3.0
mercury             1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
mitsubishi         13.0  1.846154  1.214232 -1.0  1.00  2.0  3.00  3.0
nissan             18.0  1.000000  0.907485  0.0  0.25  1.0  1.00  3.0
peugot             11.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
plymouth            7.0  1.000000  1.154701 -1.0  1.00  1.0  1.00  3.0
porsche             5.0  2.600000  0.894427  1.0  3.00  3.0  3.00  3.0
renault             2.0  1.000000  1.414214  0.0  0.50  1.0  1.50  2.0
saab                6.0  2.500000  0.547723  2.0  2.00  2.5  3.00  3.0
subaru             12.0  0.500000  0.904534  0.0  0.00  0.0  0.50  2.0
toyota             32.0  0.562500  1.216486 -1.0  0.00  0.0  1.25  3.0
volkswagen         12.0  1.666667  1.073087  0.0  1.50  2.0  2.00  3.0
volvo              11.0 -1.272727  0.467099 -2.0 -1.50 -1.0 -1.00 -1.0

              normalized-losses              ... city-mpg       highway-mpg  \
                          count        mean  ...      75%   max       count
make                                         ...
alfa-romero                 3.0  122.000000  ...     21.0  21.0         3.0
audi                        7.0  144.285714  ...     19.0  24.0         7.0
bmw                         8.0  156.000000  ...     21.5  23.0         8.0
chevrolet                   3.0  100.000000  ...     42.5  47.0         3.0
dodge                       9.0  133.444444  ...     31.0  37.0         9.0
honda                      13.0  103.000000  ...     30.0  49.0        13.0
isuzu                       4.0  122.000000  ...     38.0  38.0         4.0
jaguar                      3.0  129.666667  ...     15.0  15.0         3.0
mazda                      17.0  123.705882  ...     31.0  36.0        17.0
mercedes-benz               8.0  110.000000  ...     22.0  22.0         8.0
mercury                     1.0  122.000000  ...     19.0  19.0         1.0
mitsubishi                 13.0  140.615385  ...     25.0  37.0        13.0
nissan                     18.0  135.166667  ...     31.0  45.0        18.0
peugot                     11.0  146.818182  ...     26.5  28.0        11.0
plymouth                    7.0  128.000000  ...     31.0  37.0         7.0
porsche                     5.0  134.800000  ...     17.0  19.0         5.0
renault                     2.0  122.000000  ...     23.0  23.0         2.0
saab                        6.0  127.000000  ...     21.0  21.0         6.0
subaru                     12.0   92.250000  ...     28.0  32.0        12.0
toyota                     32.0  110.656250  ...     30.0  38.0        32.0
volkswagen                 12.0  121.500000  ...     34.0  37.0        12.0
volvo                      11.0   91.454545  ...     23.5  26.0        11.0


                    mean       std   min   25%   50%    75%   max
make
alfa-romero    26.666667  0.577350  26.0  26.5  27.0  27.00  27.0
audi           24.142857  3.236694  20.0  22.0  25.0  25.00  30.0
bmw            25.375000  3.622844  20.0  22.0  26.5  28.25  29.0
chevrolet      46.333333  5.773503  43.0  43.0  43.0  48.00  53.0
dodge          34.111111  5.710614  24.0  30.0  38.0  38.00  41.0
honda          35.461538  6.462912  28.0  33.0  34.0  34.00  54.0
isuzu          36.000000  8.082904  29.0  29.0  36.0  43.00  43.0
jaguar         18.333333  1.154701  17.0  18.0  19.0  19.00  19.0
mazda          31.941176  6.339071  23.0  27.0  32.0  38.00  42.0
mercedes-benz  21.000000  4.342481  16.0  17.5  21.5  25.00  25.0
mercury        24.000000       NaN  24.0  24.0  24.0  24.00  24.0
mitsubishi     31.153846  5.413658  24.0  30.0  30.0  32.00  41.0
nissan         32.944444  7.549618  22.0  25.0  37.0  37.00  50.0
peugot         26.636364  4.105429  24.0  24.0  24.0  29.00  33.0
plymouth       34.142857  6.175990  24.0  30.0  38.0  38.00  41.0
porsche        26.000000  1.414214  25.0  25.0  25.0  27.00  28.0
renault        31.000000  0.000000  31.0  31.0  31.0  31.00  31.0
saab           27.333333  1.032796  26.0  26.5  28.0  28.00  28.0
subaru         30.750000  3.980064  23.0  29.0  31.0  32.25  37.0
toyota         32.906250  5.549539  24.0  30.0  32.0  36.25  47.0
volkswagen     34.916667  6.881574  24.0  30.5  34.0  39.00  46.0
volvo          25.818182  2.522625  22.0  24.0  27.0  28.00  28.0

[22 rows x 112 columns]

In [23]:
#Df.unique( )
#ใช้เพื่อหาค่าที่ไม่ซ้ำกับค่าอื่น
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [24]:
#Df.nunique( )
#ใช้เพื่อหาจำนวนค่าที่ไม่ซ้ำกับค่าอื่น
df['make'].nunique()

22

In [25]:
#Df.value_counts( )
#หาจำนวนซ้ำของแต่ละค่าในคอลัมน์นั้นๆ
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
volkswagen       12
subaru           12
volvo            11
peugot           11
dodge             9
bmw               8
mercedes-benz     8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
alfa-romero       3
jaguar            3
chevrolet         3
renault           2
mercury           1
Name: make, dtype: int64

In [26]:
#การประยุกต์ใช้ Conditional Selection หรือการเลือกแบบมีเงื่อนไข
df[df['horsepower'] > 108]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,74.0,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162.0,5100.0,17,22,18950
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [27]:
#Df.sort_values( )
#ใช้เพื่อเรียงข้อมูลที่ภายในคอลัมน์
df.sort_values('engine-size')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151
57,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,NaN,9.4,101.0,6000.0,17,23,13645
55,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,NaN,9.4,101.0,6000.0,17,23,10945
56,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,NaN,9.4,101.0,6000.0,17,23,11845
32,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,0,122.0,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176.0,4750.0,15,19,35550
47,0,145.0,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176.0,4750.0,15,19,32250
74,1,122.0,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,45400
73,0,122.0,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,40960
49,0,122.0,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262.0,5000.0,13,17,36000

In [28]:
#Df.sort_values( )[::-1]
#ใช้เพื่อเรียงข้อมูลที่ภายในคอลัมน์
df.sort_values('engine-size')[::-1]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
49,0,122.0,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262.0,5000.0,13,17,36000
73,0,122.0,mercedes-benz,gas,std,four,sedan,rwd,front,120.9,...,308,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,40960
74,1,122.0,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184.0,4500.0,14,16,45400
47,0,145.0,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176.0,4750.0,15,19,32250
48,0,122.0,jaguar,gas,std,four,sedan,rwd,front,113.0,...,258,mpfi,3.63,4.17,8.1,176.0,4750.0,15,19,35550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,1,101.0,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60.0,5500.0,38,42,5399
56,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,NaN,9.4,101.0,6000.0,17,23,11845
55,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,NaN,9.4,101.0,6000.0,17,23,10945
57,3,150.0,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,NaN,9.4,101.0,6000.0,17,23,13645
18,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48.0,5100.0,47,53,5151

In [29]:
#Df.duplicated( )
#ใช้เพื่อหาข้อมูลที่ซ้ำกันภายในทั้งแถวหรือเฉพาะคอลัมน์
df2 = df.head(15)[['make', 'horsepower']]
df2

           make  horsepower
0   alfa-romero       111.0
1   alfa-romero       111.0
2   alfa-romero       154.0
3          audi       102.0
4          audi       115.0
5          audi       110.0
6          audi       110.0
7          audi       110.0
8          audi       140.0
9          audi       160.0
10          bmw       101.0
11          bmw       101.0
12          bmw       121.0
13          bmw       121.0
14          bmw       121.0

In [30]:
df2[df2.duplicated()]

           make  horsepower
1   alfa-romero       111.0
6          audi       110.0
7          audi       110.0
11          bmw       101.0
13          bmw       121.0
14          bmw       121.0

In [31]:
#Df.drop_duplicated( )
#ใช้เพื่อหาข้อมูลที่ซ้ำกันภายในทั้งแถวหรือเฉพาะคอลัมน์
df2 = df.head(15)[['make', 'horsepower']]
df2

           make  horsepower
0   alfa-romero       111.0
1   alfa-romero       111.0
2   alfa-romero       154.0
3          audi       102.0
4          audi       115.0
5          audi       110.0
6          audi       110.0
7          audi       110.0
8          audi       140.0
9          audi       160.0
10          bmw       101.0
11          bmw       101.0
12          bmw       121.0
13          bmw       121.0
14          bmw       121.0

In [32]:
df2.drop_duplicates()

           make  horsepower
0   alfa-romero       111.0
2   alfa-romero       154.0
3          audi       102.0
4          audi       115.0
5          audi       110.0
8          audi       140.0
9          audi       160.0
10          bmw       101.0
12          bmw       121.0

In [33]:
#Df.rename( )
#ใช้เปลี่ยนชื่อ column
df2.head()

          make  horsepower
0  alfa-romero       111.0
1  alfa-romero       111.0
2  alfa-romero       154.0
3         audi       102.0
4         audi       115.0

In [34]:
# ใช้ inplace = True ได้
df2.rename(columns={'horsepower':'H.P.'})

           make   H.P.
0   alfa-romero  111.0
1   alfa-romero  111.0
2   alfa-romero  154.0
3          audi  102.0
4          audi  115.0
5          audi  110.0
6          audi  110.0
7          audi  110.0
8          audi  140.0
9          audi  160.0
10          bmw  101.0
11          bmw  101.0
12          bmw  121.0
13          bmw  121.0
14          bmw  121.0

In [35]:
#Df.drop( ,axis=1)
#ใช้เพื่อลบคอลัมน์ที่ไม่ต้องการ
df2.head()

          make  horsepower
0  alfa-romero       111.0
1  alfa-romero       111.0
2  alfa-romero       154.0
3         audi       102.0
4         audi       115.0

In [36]:
df2.drop(['make'], axis=1)

    horsepower
0        111.0
1        111.0
2        154.0
3        102.0
4        115.0
5        110.0
6        110.0
7        110.0
8        140.0
9        160.0
10       101.0
11       101.0
12       121.0
13       121.0
14       121.0

In [37]:
#Df.drop( ,axis=0)
#ใช้เพื่อลบแถวที่ไม่ต้องการ
df2.head()

          make  horsepower
0  alfa-romero       111.0
1  alfa-romero       111.0
2  alfa-romero       154.0
3         audi       102.0
4         audi       115.0

In [38]:
df2.drop([1], axis=0)

           make  horsepower
0   alfa-romero       111.0
2   alfa-romero       154.0
3          audi       102.0
4          audi       115.0
5          audi       110.0
6          audi       110.0
7          audi       110.0
8          audi       140.0
9          audi       160.0
10          bmw       101.0
11          bmw       101.0
12          bmw       121.0
13          bmw       121.0
14          bmw       121.0

In [39]:
#Df.apply(lambda)
#เปลี่ยนค่าในคอลัมน์ทั้งหมดด้วยการใช้ lambda
df3 = df2.head()
df3

          make  horsepower
0  alfa-romero       111.0
1  alfa-romero       111.0
2  alfa-romero       154.0
3         audi       102.0
4         audi       115.0

df3.head()

In [40]:
df3.head()['horsepower'].apply(lambda x:x*3)

0    333.0
1    333.0
2    462.0
3    306.0
4    345.0
Name: horsepower, dtype: float64

In [41]:
#Df[‘new column’] = pd.Series()
#เพิ่ม Seriesใหม่เข้าไปใน DataFrame
df3 = df2.head()
df3

          make  horsepower
0  alfa-romero       111.0
1  alfa-romero       111.0
2  alfa-romero       154.0
3         audi       102.0
4         audi       115.0

In [43]:
New_hp = df3.head()['housepower'].apply(lambda x:x*3)
df3['New H.P.'] = pd.Series(New_hp)

KeyError: 'housepower'

In [44]:
#Df[‘new column’] = pd.Series()
#เพิ่ม Seriesใหม่เข้าไปใน DataFrame
df3

          make  horsepower
0  alfa-romero       111.0
1  alfa-romero       111.0
2  alfa-romero       154.0
3         audi       102.0
4         audi       115.0